*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    margin-left: 50px;
}

.menu2{
    margin-left: 50px;
    display: none;
}

.icon{
    
    margin-right: 30px;
}


.logo{
    height: 138px;
}

.b1{
   background-color: blanchedalmond;
}

.search{
    display: none;
}

.slide{
   max-height: 550px;
    width: 100%;
    
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 80px;
    
}
h1{
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-block: 30px;
}

.catagory{
    border: 1px solid black;
    height: 140px;
    background-color: rgba(57, 59, 59, 0.509);
    width: 140px;
    border-radius: 150px 150px 150px 150px;

    

    img{
        border-radius: 200px 200px 200px 200px;

    }
}

.catagory:hover{
    background-color: rgba(197, 199, 200, 0.77);
}



.images{
    margin-top: 20px;
    margin-left: 10px;
    height: 100px;
    width: 120px;
}



h4{
    text-align: center;
    

   
}

h4:hover{
    text-decoration: underline;
}

.box2{
    border: 1px solid black;
    
    border: none;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px ;

}


.practise{
    width: 48%;

}

.practise2{
    width: 48%;
}


.box3{
    border: 1px solid black;
     gap: 20px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding-block: 20px;
  
}

.b3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.b2{
    height: 150px;
   width: 150px;
    border-radius: 200px 200px 200px 200px;
    background-color: white;
   

}

.b2:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: rgba(179, 180, 180, 0.571);
    
}

.cricket{
    height: 120px;
    width: 120px;
}
















@media(max-width : 1000px){
    .icon{
        display: none;
    }
    .search{
        display: block;
    }

    .logo{
        height: 100px;
    }

    .h3{
        font-size: 10px;
    }

    .c1{
        font-size: 10px;
    }
    
}


@media(max-width :1060px){
    .practise{
        width: 100%;
    }
     .practise2{
        width: 100%;
    }
}

@media(max-width:400px){

    .search{
        display: none;
    }
    .menu{
        display: none;
    }

    .menu2{
        display: block;
    }

   
}